<!--<header class="flex justify-center items-center py-4 px-8">-->
<!--    <div class="social-links">-->
<!--        <a href="/" class="shadow-lg">-->
<!--            <img class="social-icon" src="assets/icons/linkedin.svg" alt="Link to LinkedIn profile">-->
<!--        </a>-->
<!--        <a href="/" class="shadow-lg">-->
<!--            <img class="social-icon" src="assets/icons/github.svg" alt="Link to LinkedIn profile">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="title-container">-->
<!--        <h1 class="title">-->
<!--            <a href="/" class="text-dark-green text-5xl font-bold">Twit App</a>-->
<!--        </h1>-->
<!--    </div>-->
<!--    <div class="login-container">-->
<!--        <a href="/login" class="shadow-lg">Login</a>-->
<!--        <a href="/register" class="shadow-lg">Register</a>-->
<!--    </div>-->
<!--</header>-->
<lib-nav-bar></lib-nav-bar>
<main class="flex-1 my-4 mx-16">
    <router-outlet></router-outlet>
</main>
